#bg-video{
    width: 100%;
    height: 65vh;
    position: center;
    object-fit: cover;
}
@media (max-width: 1000px){
    #bg-video{
        width: 100%;
        height: 35vh;
        position: center;
        object-fit: cover;
    }
}