        body {
    margin: 0;
    padding: 0;
    background-image: url("img/de2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-size: 100% 100%; /* Ajusta el tamaño de la imagen */
  
}


.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    /*justify, aling'items y position de las imagenes centrarlas*/
    justify-content: center;
    align-items: center;
    position: relative;
   
  }
  
  
   
  
  .custom-scale:hover {
      transform: scale(1.4);
     
  }
  
  .custom-scale {
    width: 90.33%;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
      /*margin para la separacion de las imagenes*/
      margin: 0px;
  }
  
  
  