*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

 #p2, h6, h5{
    text-align: center;
    line-height: 14px;

}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

h2, h1{
    padding: 20px
    
    
}



p{
    line-height: 22px;
    text-align: justify;
    padding: 20px;
}

#p3 {

    line-height: 22px;
    text-align: center;

}

#pass{
    font-size: 14px;
    text-align: center;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }